<div class="jumbotron center" >
	<h1>Welcome to the New Month Resolution Project!</h1>
	<p>
	<%= link_to "Log in", "#", class: "btn btn-default"%>
	<%= link_to "Sign up", "#", class: "btn btn-primary"%>
		
	</p>

	<p2> Many people choose to make a New Year's Resolution; why limit self-improvement to once a year?
 
This is what has inspired me to start a movement called "NMR" (The New Month Resolution Project). I challenge you to create a new NMR for each month of the year and share your stories here. I will be participating in this project and posting videos of my NMRs.</p2>
</div>